<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>RiderRegistration</servlet-name>
        <servlet-class>src.RiderRegistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RiderLogin</servlet-name>
        <servlet-class>src.RiderLogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RequestAdd</servlet-name>
        <servlet-class>src.RequestAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AvailableRideAdd</servlet-name>
        <servlet-class>src.AvailableRideAdd</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchRides</servlet-name>
        <servlet-class>src.SearchRides</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RiderRegistration</servlet-name>
        <url-pattern>/RiderRegistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RiderLogin</servlet-name>
        <url-pattern>/RiderLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RequestAdd</servlet-name>
        <url-pattern>/RequestAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AvailableRideAdd</servlet-name>
        <url-pattern>/AvailableRideAdd</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchRides</servlet-name>
        <url-pattern>/SearchRides</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
